.left-bar {

}

.user {
    margin-bottom: 10px;
    margin-right: 10px;
}

.form-wrapper {
    margin-bottom: 10px;
    margin-right: 10px;
}

.links {
    margin-right: 10px;
}

.link {

}

.page {

}